
<h1>Pandas Tutorial</h1>

(C) Bartosz and Maria Teleńczuk


Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)


# Content of this talk

- Why do you need pandas?
- Basic introduction to the data structures
- Guided tour through some of the pandas features with
- case studies: **gapminder**

Some imports:

In [6]:
%matplotlib inline
import pandas as pd

pd.options.display.max_rows = 8

We will come back to these example, and build them up step by step.

# Why do you need pandas?

## Why do you need pandas?

When working with *tabular or structured data* (like R dataframe, SQL table, Excel spreadsheet, ...):

- Import data
- Clean up messy data
- Explore data, gain insight into data
- Process and prepare your data for analysis
- Analyse your data (together with scikit-learn, statsmodels, ...)

# Pandas: data analysis in python

For data-intensive work in Python the [Pandas](http://pandas.pydata.org) library has become essential.

What is ``pandas``?

* Pandas can be thought of as NumPy arrays with labels for rows and columns, and better support for heterogeneous data types, but it's also much, much more than that.
* Pandas can also be thought of as `R`'s `data.frame` in Python.


It's documentation: http://pandas.pydata.org/pandas-docs/stable/

## Key features

* Fast, easy and flexible input/output for a lot of different data formats
* Working with missing data (`.dropna()`, `pd.isnull()`)
* Merging and joining (`concat`, `join`)
* Grouping: `groupby` functionality
* Reshaping (`stack`, `pivot`)
* Powerful time series manipulation (resampling, timezones, ..)
* Easy plotting

# Further reading

- the documentation: http://pandas.pydata.org/pandas-docs/stable/
- Wes McKinney's book "Python for Data Analysis"
- lots of tutorials on the internet (search "pandas tutorial" On github or youtube)

# Data structures

## Series

A Series is a basic holder for **one-dimensional labeled data**. It can be created like a NumPy array:

In [7]:
s = pd.Series([0.1, 0.2, 0.3, 0.4])
s

0    0.1
1    0.2
2    0.3
3    0.4
dtype: float64

### Attributes of a Series: `index` and `values`

The series has a built-in concept of an **index**, which by default is the numbers *0* through *N - 1*

In [8]:
s.index

RangeIndex(start=0, stop=4, step=1)

You can access the underlying numpy array representation with the `.values` attribute:

In [9]:
s.values

array([0.1, 0.2, 0.3, 0.4])

We can access series values via the index, just like for NumPy arrays:

In [10]:
s[0]

0.1

Unlike the NumPy array, though, this index can be something other than integers:

In [13]:
s2 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2

a    0
b    1
c    2
d    3
dtype: int64

In [14]:
s2['c']

2

It's possible to construct a series directly from a Python dictionary. Let's first define the dictionary.

In [15]:
pop_dict = {'Germany': 81.3, 
            'Belgium': 11.3, 
            'France': 64.3, 
            'United Kingdom': 64.9, 
            'Netherlands': 16.9}
pop_dict['Germany']

81.3

Trying to access non-existing keys in a dictionary will produce an error:

In [16]:
# pop_dict['Poland']

But we can add new keys easily:

In [17]:
pop_dict['Poland'] = 40
pop_dict

{'Germany': 81.3,
 'Belgium': 11.3,
 'France': 64.3,
 'United Kingdom': 64.9,
 'Netherlands': 16.9,
 'Poland': 40}

NumPy-style arithmetical operations won't work:

In [18]:
#pop_dict * 1000

Now we construct a `Series` object from the dictionary.

In [19]:
population = pd.Series(pop_dict)
population

Germany           81.3
Belgium           11.3
France            64.3
United Kingdom    64.9
Netherlands       16.9
Poland            40.0
dtype: float64

We can index the populations like a dict as expected:

In [20]:
population['France']

64.3

but with the power of numpy arrays:

In [21]:
population * 1000

Germany           81300.0
Belgium           11300.0
France            64300.0
United Kingdom    64900.0
Netherlands       16900.0
Poland            40000.0
dtype: float64

Many things we have seen for NumPy, can also be used with pandas objects.

Slicing:

In [22]:
population['Belgium':'Germany']

Series([], dtype: float64)

A range of methods:

In [23]:
population.mean()

46.449999999999996

<div class="alert alert-success">
    <b>EXERCISE</b>: Calculate how big is the population of each country relative to France
</div>

## Dataframes

DataFrame: multi-dimensional table of structured, hetermogeneous data, similar to spreadsheet

In [27]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

## Attributes

In [29]:
countries.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
countries.columns

Index(['country', 'population', 'area', 'capital'], dtype='object')

In [31]:
countries.values

array([['Belgium', 11.3, 30510, 'Brussels'],
       ['France', 64.3, 671308, 'Paris'],
       ['Germany', 81.3, 357050, 'Berlin'],
       ['Netherlands', 16.9, 41526, 'Amsterdam'],
       ['United Kingdom', 64.9, 244820, 'London']], dtype=object)

## Useful functions

In [40]:
countries.head(n=2)

   country  population    area   capital
0  Belgium        11.3   30510  Brussels
1   France        64.3  671308     Paris

In [41]:
countries.describe()

       population           area
count    5.000000       5.000000
mean    47.740000  269042.800000
std     31.519645  264012.827994
min     11.300000   30510.000000
25%     16.900000   41526.000000
50%     64.300000  244820.000000
75%     64.900000  357050.000000
max     81.300000  671308.000000

In [44]:
indexed = countries.set_index("country")
indexed

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

## Indexing

get a column

In [55]:
indexed['population']

country
Belgium           11.3
France            64.3
Germany           81.3
Netherlands       16.9
United Kingdom    64.9
Name: population, dtype: float64

In [63]:
indexed[['population', 'area']]

                population    area
country
Belgium               11.3   30510
France                64.3  671308
Germany               81.3  357050
Netherlands           16.9   41526
United Kingdom        64.9  244820


get a row

In [56]:
indexed.loc["Belgium", :]

population        11.3
area             30510
capital       Brussels
Name: Belgium, dtype: object

In [67]:
indexed.loc[["Belgium", "France"], ["area", "population"]]

           area  population
country
Belgium   30510        11.3
France   671308        64.3

In [69]:
indexed.iloc[1:3, :]

         population    area capital
country
France         64.3  671308   Paris
Germany        81.3  357050  Berlin

In [62]:
indexed[indexed['population']> 20]

                population    area capital
country
France                64.3  671308   Paris
Germany               81.3  357050  Berlin
United Kingdom        64.9  244820  London

## Importing and exporting

use `pd.read_*` functions to read data in various formats (CSV, Excel, HDF5, ...)

In [60]:
data = pd.read_csv("data/gapminder_gdp_europe.csv")
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
1,Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
2,Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
3,Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Sweden,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
27,Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
28,Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
29,United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

**Exercise** 
Calculate (and plot) mean GDP for each year

**Exercise** Find countries with GDP above 10000 in 1957 and in 2007


## Automatic alignment

## Join

## Groupby

## Reshape